img {
    display: block;
    margin: 0 auto; /* Centra la imagen */
    width: 200px; /* Ajusta el tamaño del QR si es necesario */
    height: 200px; /* Ajusta el tamaño del QR si es necesario */
  }
  